:root{
  --all-box-width : 10rem;
  --all-box-height: 2rem;
  --all-font-family: Arial, Helvetica, sans-serif;
  --button-background: rgb(31, 191, 231);
}

.box-size {

  width           : var(--all-box-width);
  height          : var(--all-box-height);
}

.box-style {
  border: 1px solid black;
}

.title-style {

  font-family      : var(--all-font-family);
}

.button {

  background         : var(--button-background);
  width              : 60px;
  height             : 30px;
  border-style       : none;
}

.button:hover {
  box-shadow: 0 0 5px var(--button-background);
}