.input {
  --input-width : 100px;
  --input-height: 25px;
  font-size     : 16px;
  padding       : 0 5px;
  outline       : none;
  width         : var(--input-width);
  height        : var(--input-height);
  border-radius : calc(var(--input-height)/2);
  border        : 1px solid rgb(0, 190, 238);
  color         : red;
}

.input:focus,
.input:hover,
.input:active {
  -webkit-box-shadow: 0 0 5px rgb(0, 190, 238);
  box-shadow        : 0 0 5px rgb(0, 190, 238);
}